.content{
    width: 80%; 
    height: 800px;      
    display: flex;  
    justify-content: space-around;  
    flex-wrap: wrap;  
    margin-top: 50px;
    margin-bottom: 50px;
    
}

img{
    width:600px;
    height:400px;
   
}
